.bold {
  font-weight: bold;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
img {
  min-width: 0;
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(243, 238, 228);
}

nav {
  border: 1px solid red;
  display: flex;
  color: rgb(243, 238, 228);
  background-color: #0199c8;

  justify-content: space-between;
  align-items: flex-start;
}

header {
  background-color: #0199c8;
  color: rgb(243, 238, 228);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.header-left {
  flex-basis: content;
}

#info button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(243, 238, 228);
  margin-bottom: 20px;
}

.header-right {
  padding: 40px;
}

.img-header {
  max-width: 500px;
  border-radius: 10px;
}

.activities-pic {
  max-width: 30%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

nav {
  font-size: 18px;
}

.logo {
  font-size: 24px;
}
