/* simple text decoration */

.bold {
  font-weight: bold;
}

.logo {
  font-size: 24px;
}

#info button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(243, 238, 228);
  margin-bottom: 20px;
}

.header-right {
  padding: 40px;
}

/* style pictures */
.img-header {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.activities-pic {
  max-height: 250px;
}

/* text styles */

p {
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  text-align: center;
}

/*h2 container background color */
.activities-title {
  background-color: rgb(8, 21, 63);
  color: rgb(243, 238, 228);
}

nav {
  font-size: 18px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(243, 238, 228);
} /* end of simple text decoration */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  /*navbar flex container*/
  display: flex;
  color: rgb(243, 238, 228);
  background-color: rgb(8, 21, 63);
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 8px 8px 8px;
}
.navbar ul {
  display: flex; /*text in a single row*/
  gap: 30px;
  margin: 0;
}

header {
  /*flex container for the whole header */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background: linear-gradient(
    130deg,
    rgb(70, 138, 197) 29%,
    rgb(130, 228, 240) 54%,
    rgb(100, 215, 215) 65%,
    rgb(214, 220, 188) 76%,
    rgb(107, 157, 220) 90%
  );
  color: rgb(243, 238, 228);
}

/* end of the styling of the top part */

.activities {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities ul {
  /*major container for the items of the container .activities */
  display: flex;
  gap: 20px;
  justify-content: center; /*it allows the items that wrap, to go at the center when wrapping */
  flex-wrap: wrap; /*putting wrap in this container, makes the pictures move to the next line */
}

/* makes the pictures and text wrap and align together */
.snorkeling,
.jozani,
.dolphins,
.tortoise {
  width: min-content;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}
